<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivasayigames.gameshub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameBox"
        android:usesCleartextTraffic="true">
        <activity android:name="com.vivasayigames.gameshub.firsttime.Screen_three"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.vivasayigames.gameshub.firsttime.Screen_two"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.vivasayigames.gameshub.firsttime.Screen_one"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.vivasayigames.gameshub.No_internet"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.vivasayigames.gameshub.Mind"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.vivasayigames.gameshub.Cards"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.Classic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.Racing"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.Action"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.vivasayigames.gameshub.GameLoader" />
        <activity
            android:name="com.vivasayigames.gameshub.Contact"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.Category"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vivasayigames.gameshub.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2386233827061515~2782198860" />
    </application>

</manifest>